<div class="container-fluid text-center p-5">
  <div class="row">
    <div class="col-5">
      <h3>Mejores 3 partidas</h3>
      <div class="table-responsive">
        <table class="table table-striped rounded bg-white">
          <thead class="bg-success text-white shadow-sm">
            <tr>
              <th class="left-radius" scope="col">Fecha</th>
              <th scope="col">Intentos</th>
              <th scope="col">Palabra correcta</th>
              <th class="right-radius" scope="col">Victoria</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let game of top3Games; index as i">
              <td *ngIf="i < 10 || watchAllGames">
                {{ game.date }}
              </td>
              <td *ngIf="i < 10 || watchAllGames">
                <span *ngIf="game.winned">{{ game.attempts }}</span>
              </td>
              <td *ngIf="i < 10 || watchAllGames">
                {{ game.correctWord }}
              </td>
              <td *ngIf="i < 10 || watchAllGames">
                <i class="bi bi-check text-success" *ngIf="game.winned"></i>
                <i class="bi bi-x text-danger fs-5" *ngIf="!game.winned"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-7">
      <h3>Últimas 10 partidas</h3>
      <div class="table-responsive">
        <table class="table table-striped rounded bg-white">
          <thead class="bg-success text-white shadow-sm">
            <tr>
              <th class="left-radius" scope="col">Fecha</th>
              <th scope="col">Intentos</th>
              <th scope="col">Palabra correcta</th>
              <th class="right-radius" scope="col">Victoria</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let game of Games; index as i">
              <td *ngIf="i < 10 || watchAllGames" [ngClass]="{'text-success': game.winned, 'text-danger': !game.winned}">
                {{ game.date }}
              </td>
              <td *ngIf="i < 10 || watchAllGames" [ngClass]="{'text-success': game.winned, 'text-danger': !game.winned}">
                <span *ngIf="game.winned">{{ game.attempts }}</span>
              </td>
              <td *ngIf="i < 10 || watchAllGames" [ngClass]="{'text-success': game.winned, 'text-danger': !game.winned}">
                {{ game.correctWord }}
              </td>
              <td *ngIf="i < 10 || watchAllGames" [ngClass]="{'text-success': game.winned, 'text-danger': !game.winned}">
                <i class="bi bi-check text-success" *ngIf="game.winned"></i>
                <i class="bi bi-x text-danger fs-5" *ngIf="!game.winned"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>