.Titulo {
  font-family: Arial, Helvetica, Sans-serif;
  color: rgb(6, 6, 6);
}
ul {
  list-style: none;
}
.table {
  border-radius: 23px;
  background-color: rgb(255, 255, 255);
  color: rgb(17, 17, 17);
}

.scrolleable{
  max-height: 50vh;
  overflow: auto;
}

.container {
  width: 150vb;
}