<nav class="navbar navbar-expand bg-success">
  <img
    class="navbar-brand mx-5"
    id="imgLogo"
    src="../assets/img/icon_wordle.webp"
    [routerLink]="['main']"
  />

  <div class="navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item p-2 border-end">
        <a class="nav-link" aria-current="page" routerLink="/login">Login</a>
      </li>
      <li class="nav-item p-2 border-end">
        <a class="nav-link" routerLink="/game-historic">Histórico</a>
      </li>
    </ul>
  </div>
</nav>
