<div class="centered">
<form #formularioPalabra="ngForm" (ngSubmit)="sendWord()" autocomplete="off">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col d-flex flex-column align-items-center">
        <div class="row mb-3" *ngFor="let round of rounds; let idRound = index">
          <div class="casilla m-2" (click)="getPosition(idCasilla,idRound)" *ngFor="let letter of rounds[idRound].wordRound;  
              let idCasilla= index" [ngClass]="{
              yellow: rounds[idRound].wordStatusRound[idCasilla] === 'CONTAINED' ,
              green: rounds[idRound].wordStatusRound[idCasilla] === 'MATCHED' ,
              grey: rounds[idRound].wordStatusRound[idCasilla] === 'NOT_MATCHED',
              selected: rounds[idRound].positionInput === idCasilla,
            }">
            {{ letter }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="text-center contenedorTeclado">
        <button type="button" class="btn btn-light btn-lg m-1 p-3 teclasTeclado"
          *ngFor="let tecla of teclado; let index = index" [ngClass]="{
            yellow: tecladoStatus[index] === 'CONTAINED' ,
            green: tecladoStatus[index] === 'MATCHED' ,
            grey: tecladoStatus[index] === 'NOT_MATCHED',
          }" (click)="writeLetter(tecla)" [disabled]="disableKeyboard">
          {{ tecla }}
        </button>
        <button type="button" class="btn btn-light btn-lg teclasTeclado m-1 p-3" (click)="deleteLetter()"
          [disabled]="disableKeyboard">
          <i class="bi bi-backspace"></i>
        </button>
        <button type="submit" class="btn bg-dark-green text-white btn-lg m-1 p-3" [disabled]="word[4] === '' || disableKeyboard">
          <i class="bi bi-send-fill"></i>
          Enviar
        </button>
      </div>
    </div>
  </div>
</form>
</div>